@media (max-width: 1199px) {
  .Relief-article-size {
    max-width: 990px;
    padding: 60px 0;
    left: calc(50% - 495px);
  }
  .item-section {
    padding-top: 20px;
    padding-bottom: 250px;
  }
  .item-section item-list {
    font-size: 0;
  }
  .item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
  }
  .security-position {
    max-width: 990px;
    left: calc(50% - 495px);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .review-header {
    line-height: 25px;
    padding-bottom: 20px;
    padding-top: 150px;
  }
  .review-icon {
    font-size: 60px;
    line-height: 60px;
  }
  .review-text {
    font-size: 22px;
    line-height: 28px;
    padding-bottom: 15px;
  }
  .review-name {
    padding-bottom: 70px;
  }
  .as-on h3 {
    padding-top: 100px;
    padding-bottom: 55px;
  }
  .as-item-list {
    display: flex;
    flex-wrap: wrap;
  }
  .as-item {
    width: 35%;
    padding: 25px 25px;
    margin: 0 8px 10px 0;
    text-align: center;
  }
  .mr-r {
    margin-left: 0;
  }
  .mr-1 {
    margin-left: 0;
  }
  .trial-position {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 990px;
    left: calc(50% - 495px);
  }
}
@media (max-width: 991px) {
  .Relief-article-size {
    max-width: 780px;
    padding: 50px 0;
    left: calc(50% - 390px);
  }
  .security-position {
    max-width: 780px;
    left: calc(50% - 390px);
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .trial-position {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 780px;
    left: calc(50% - 390px);
  }
  .main-form-number {
    padding: 6px 10px;
    max-width: 380px;
  }
  .form-number {
    padding: 8px 16px;
    line-height: 20px;
  }
  .text-me-link {
    padding: 8px 25px;
    line-height: 18px;
  }
  .section2 {
    padding-top: 190px;
  }
  .how-article2 {
    max-width: 991px;
  }
  .main-section-title {
    font-size: 30px;
    line-height: 35px;
  }
  .main-pic-size {
    display: block;
    width: 100%;
    padding-bottom: 55px;
    max-width: 450px;
  }
  .section2-article2-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    max-width: 495px;
  }
  .built-img {
    margin: 7.5px 80px 6.43px 150px;
  }
  .paperwork-img {
    margin: 7.5px 80px 6.43px 150px;
  }
  .easily-img {
    margin: 7.5px 80px 6.43px 150px;
  }
  .listen-img {
    margin: 7.5px 80px 6.43px 150px;
  }
  .list-size {
    max-width: 495px;
    padding-bottom: 60px;
  }
  .standing-option-img {
    max-width: 495px;
  }
}
@media (max-width: 812px) {
  .item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item {
    width: 30%;
  }
}
@media (max-width: 780px) {}
