@media (max-width: 1200px) {
  .container {
  max-width: 1200px;
  min-width: 991px;
  margin: 0 auto;
}
  .Relief-article-size {
    max-width: 950px;
    padding: 60px 0;
    left: calc(44% - 430px);
  }
  .item-section {
    padding-top: 20px;
    padding-bottom: 250px;
  }
  .item-section item-list {
    font-size: 0;
  }
  .item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
  }
  .security-position {
    max-width: 990px;
    left: calc(50% - 495px);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .review-header {
    line-height: 25px;
    padding-bottom: 20px;
    padding-top: 150px;
  }
  .review-icon {
    font-size: 60px;
    line-height: 60px;
  }
  .review-text {
    font-size: 22px;
    line-height: 28px;
    padding-bottom: 15px;
  }
  .review-name {
    padding-bottom: 70px;
  }
  .as-on h3 {
    padding-top: 100px;
    padding-bottom: 55px;
  }
  .as-item-list {
    display: flex;
    flex-wrap: wrap;
  }
  .as-item {
    width: 35%;
    padding: 25px 25px;
    margin: 0 8px 10px 0;
    text-align: center;
  }
  .mr-r {
    margin-left: 0;
  }
  .mr-1 {
    margin-left: 0;
  }
  .trial-position {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 990px;
    left: calc(50% - 495px);
  }
}

@media (max-width: 991px) {
  .container {
  max-width: 991px;
  min-width: 787px;
  margin: 0 auto;
}
  .navigation {
    display: none;
  }
  .Relief-article-size {
    max-width: 780px;
    padding: 50px 0;
    left: calc(50% - 390px);
  }
  .security-position {
    max-width: 780px;
    left: calc(50% - 390px);
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .trial-position {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 780px;
    left: calc(50% - 390px);
  }
  .main-form-number {
    padding: 6px 10px;
    max-width: 380px;
  }
  .form-number {
    padding: 8px 16px;
    line-height: 20px;
  }
  .text-me-link {
    padding: 8px 25px;
    line-height: 18px;
  }
  .section2 {
    padding-top: 140px;
  }
  /* .how-article2 {
    width: 991px;
  } */
  .main-section-title {
    font-size: 30px;
    line-height: 35px;
  }
  .main-pic-size {
    display: block;
    width: 100%;
    padding-bottom: 55px;
    max-width: 404px;
  }
  .section2-article2-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    max-width: 495px;
  }

  body {
    background: #232323;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
  }

  #menuToggle {
    display: block;
    position: relative;
    top: 12px;
    left: -65px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    display: none;
    position: absolute;
    width: 250px;
    margin: -36px 0 0 -213px;
    padding: 40px 10px 30px 40px;
    background: #ffd394;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    text-align: left;
    border-radius: 10px;
  }
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
    display: block;
  }
  .owl-carousel {
    display: none;
  }
  .item-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 787px) {
  .main-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-pic-size {
    padding-bottom: 0;
  }
  .Relief-article-size {
    max-width: 700px;
    padding: 30px 0;
    left: calc(50% - 350px);
  }
  .how-article2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .list1 {
    padding-bottom: 10px;
  }
  .list2 {
    padding-bottom: 10px;
  }
  .list-size {
    padding-bottom: 10px;
  }
  .main-list {
    padding-bottom: 10px;
  }
  .built {
    display: flex;
    flex-wrap: wrap;
  }
  .built h2 {
    text-align: center;
  }
  .built p {
    text-align: center;
    padding-bottom: 15px;
  }
  .built:after {
    width: 100%;
  }
  .built-text {
    width: 100%;
  }
  .standing {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .standing h2 {
    text-align: center;
  }
  .standing p {
    text-align: center;
    padding-bottom: 20px;
  }
  .standing:before {
    display: none;
  }
  .standing:after {
    content: "";
    background-image: url("../images/img22.png");
    width: 55%;
    height: 586px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }
  .standing-text {
    width: 100%;
  }
  .easily {
    display: flex;
    flex-wrap: wrap;
  }
  .easily h2 {
    text-align: center;
  }
  .easily p {
    text-align: center;
    padding-bottom: 15px;
  }
  .easily:after {
    width: 100%;
  }
  .easily-text {
    width: 100%;
  }
  .paperwork {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .paperwork h2 {
    text-align: center;
  }
  .paperwork p {
    text-align: center;
    padding-bottom: 20px;
  }
  .paperwork:before {
    display: none;
  }
  .paperwork:after {
    content: "";
    background-image: url("../images/img4.jpg");
    width: 55%;
    height: 586px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }
  .paperwork-text {
    width: 100%;
  }
  .listen {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
  }
  .listen h2 {
    text-align: center;
  }
  .listen p {
    text-align: center;
    padding-bottom: 15px;
  }
  .listen:after {
    width: 100%;
  }
  .listen-text {
    width: 100%;
  }
  .item-section h3 {
    padding-bottom: 30px;
  }
  .item-list {
    padding-bottom: 15px;
  }
  .item-section {
    padding-bottom: 25px;
  }
}

@media (max-width: 730px) {
  .Relief-article-size {
    width: 500px;
    padding: 20px 0;
    left: calc(51% - 250px);
  }
  .Relief-text {
    display: none;
  }
  .relief-text-mobile {
    display: block;
    color: rgba(30, 25, 40, 0.8);
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.252px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .section2 {
    padding-top: 130px;
  }
  .how-article2 {
    width: 80%;
  }
}
@media (max-width: 600px) {
  #menuToggle {
    left: 0px;
  }
}

@media (max-width: 495px) {
  .Relief-article-size {
    width: 350px;
    padding: 20px 0;
    left: calc(44% - 150px);
  }
}
