* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4efe9;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
}
header {
  padding: 40px 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.d-flex {
  justify-content: space-between;
  display: flex;
}
.navigation {
  display: flex;
  list-style: none;
}
nav ul li {
  margin-left: 40px;
}
.item_link {
  text-decoration: none;
  color: #1e1928;
  font-size: 13px;
  line-height: 20px;
}
.main-section {
  padding-bottom: 196px;
}
.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.main-section-artic {
  max-width: 549px;
}
.main-section-title {
  color: #1e1928;
  margin-bottom: 21px;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
}
.main-section-text-1 {
  color: rgba(30, 25, 40, 0.8);
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.252px;
}
.main-section-text-2 {
  color: rgba(30, 25, 40, 0.8);
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.252px;
}
.main-section-prenumber {
  color: #1e1928;
  margin-bottom: 24px;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.252px;
}
.main-form-number {
  border-radius: 9999px;
  background: #fff;
  padding: 8px 12px;
  display: flex;
  max-width: 448px;
  justify-content: space-between;
}
.form-number {
  width: 180px;
  border: none;
  background-color: transparent;
  padding: 10px 19px;
  color: rgba(30, 25, 40, 1);
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  outline: none;
}
.text-me-link {
  padding: 10px 32px;
  border-radius: 9999px;
  background: #1e1928;
  color: #f4efe9;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}
.main-pic-size {
  max-width: 564px;
  padding-bottom: 73px;
}
.main-pic-size {
  display: block;
  width: 100%;
}
.section2 {
  padding-bottom: 78px;
  background-color: #ffd394;
  background-image: url("images/squere.png");
  background-position: bottom -240px left 0px;
  background-repeat: no-repeat;
  padding: 80px 0;
}
.section2-article {
  border-radius: 8px;
  background: #fff;
}
.section2-title {
  color: #1e1928;
  text-align: center;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  padding-bottom: 28px;
}
.section2-article-size {
  max-width: 653px;
  margin: auto;
}
.section2-text {
  color: rgba(30, 25, 40, 0.8);
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.252px;
  padding-bottom: 20px;
}
.section2-article-learn-more {
  color: #1e1928;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 33px;
  background: #fff;
  margin: 0 auto;
  display: block;
  border-radius: 9999px;
  border: 1px solid #1e1928;
  text-decoration: none;
}

.section2-article2 {
  margin-top: 80px;
}
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.section2-article2-title {
  color: #1e1928;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  max-width: 600px;
}
.list-size {
  max-width: 600px;
  padding-bottom: 78px;
}
.main-list {
  padding-bottom: 38px;
  list-style: none;
}
.list1 {
  padding-bottom: 38px;
}

.list-title1 {
  color: #1e1928;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.list-text1 {
  color: rgba(30, 25, 40, 0.8);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.176px;
  margin-left: 64px;
}
.list2 {
  padding-bottom: 38px;
}
.list-title2 {
  color: #1e1928;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
  padding-top: 8px;
  padding-bottom: 10px;
}
.list-text2 {
  color: rgba(30, 25, 40, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.176px;
  margin-left: 64px;
}
.list-title3 {
  color: #1e1928;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
  padding-top: 8px;
  padding-bottom: 10px;
}
.list-text3 {
  color: rgba(30, 25, 40, 0.8);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.176px;
  margin-left: 64px;
}
.main-list li:before {
  display: inline-flex;
  content: "1";
  border-radius: 50%;
  background: #1e1928;
  width: 40px;
  height: 40px;
  justify-content: center;
  color: #ede6dd;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.252px;
  align-items: center;
  margin-right: 24px;
  float: left;
}
.main-list li:nth-child(2)::before {
  content: "2";
}
.main-list li:last-child:before {
  content: "3";
}
.main-sections {
  background: #f4efe9;
}
.built {
  display: flex;
  padding-top: 80px;
  margin-bottom: 80px;
  justify-content: space-around;
  align-items: center;
}
.built h2 {
  color: #1e1928;
  text-align: right;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}
.built p {
  color: rgba(30, 25, 40, 0.8);
  text-align: right;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.252px;
}
.built-img {
  background-image: url("../images/Vector.png");
  background-size: 146.786px 34.286px;
  background-repeat: no-repeat;
  background-position: left 64.29px bottom 540px;
  border-color: #fff;
  border: #fff solid 11.79px;
  width: 300px;
  height: 586.071px;
  margin: 7.5px 150px 6.43px 150px;
  border-radius: 50px;
}
.option-img {
  padding: 56.21px 47px 90.79px 34.2px;
}

.standing {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 80px;
}
.standing-option-img {
  height: 600px;
  width: 600px;
  margin: 7.5px 29px 46px 29px;
}
.standing-text h2 {
  color: #1e1928;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}
.standing-text p {
  color: rgba(30, 25, 40, 0.8);
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.252px;
}
.easily {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
}
.easily-text h2 {
  color: #1e1928;
  text-align: right;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}
.easily-text p {
  color: rgba(30, 25, 40, 0.8);
  text-align: right;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.252px;
}
.easily-img {
  background-image: url("../images/Vector.png");
  background-size: 146.786px 34.286px;
  background-repeat: no-repeat;
  background-position: left 64.29px bottom 540px;
  border-color: #fff;
  border: #fff solid 11.79px;
  width: 300px;
  height: 586.071px;
  margin: 7.5px 150px 6.43px 150px;
  border-radius: 50px;
}
.easily-option-img {
  padding: 72.5px 26.21px 59.79px 26.21px;
}
.paperwork {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 80px;
}
.paperwork-img {
  background-image: url("../images/Vector.png");
  background-size: 146.786px 34.286px;
  background-repeat: no-repeat;
  background-position: left 64.29px bottom 540px;
  border-color: #fff;
  border: #fff solid 11.79px;
  width: 300px;
  height: 586.071px;
  margin: 7.5px 150px 6.43px 150px;
  border-radius: 50px;
}
.paperwork-option-img {
  padding: 96.5px 25.21px 85.79px;
}
.paperwork-text h2 {
  color: #1e1928;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}
.paperwork-text p {
  color: rgba(30, 25, 40, 0.8);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.252px;
}
.listen {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}
.listen-text h2 {
  color: #1e1928;
  text-align: right;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}
.listen-text p {
  color: rgba(30, 25, 40, 0.8);
  text-align: right;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.252px;
}
.listen-img {
  background-image: url("../images/Vector.png");
  background-size: 146.786px 34.286px;
  background-repeat: no-repeat;
  background-position: left 64.29px bottom 540px;
  border-color: #fff;
  border: #fff solid 11.79px;
  width: 300px;
  height: 586.071px;
  margin: 7.5px 150px 6.43px 150px;
  border-radius: 50px;
}
.listen-option-img {
  padding: 198.5px 54.21px 187.79px 53.21px;
}
