@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap";
@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "style.css";
@import "https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css";
//   дописать https: для добавленных файлов
@import "https://resources/demos/style.css";
@import "header";

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}
.body {
  background-color: #f4efe9;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
#menuToggle input {
  display: none;
  @include max-screen(991px) {
    display: block;
  }
}
.main-section {
  padding-bottom: 196px;

  @include max-screen(730px) {
    padding-bottom: 196px;
  }
  @include max-screen(550px) {
    padding-bottom: 160px;
  }
}
.main-flex {
  display: flex;

  @include max-screen(787px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include max-screen(550px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
}
.main-section-artic {
  width: 50%;
  padding-left: 40px;

  @include max-screen(787px) {
    width: 80%;
  }
  @include max-screen(550px) {
    padding-left: 10px;
  }
}
.main-section-title {
  color: #1e1928;
  margin-bottom: 21px;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  padding-top: 40px;

  @include max-screen(991px) {
    font-size: 30px;
    line-height: 35px;
  }
  @include max-screen(787px) {
    padding-top: 0px;
  }
}
.main-section-text-1 {
  color: rgba(30, 25, 40, 0.8);
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.252px;
}
.main-section-text-2 {
  color: rgba(30, 25, 40, 0.8);
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.252px;
}
.main-section-prenumber {
  color: #1e1928;
  margin-bottom: 24px;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.252px;
}
.main-form-number {
  border-radius: 99px;
  background: #fff;
  padding: 8px 12px;
  display: flex;
  max-width: 448px;
  justify-content: space-between;
  margin-bottom: 96px;

  @include max-screen(991px) {
    padding: 6px 10px;
    max-width: 380px;
  }
  @include max-screen(991px) {
    margin-bottom: 20px;
  }
}
.form-number {
  width: 180px;
  border: none;
  background-color: transparent;
  padding: 10px 19px;
  color: rgba(30, 25, 40, 1);
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  outline: none;

  @include max-screen(991px) {
    padding: 8px 16px;
    line-height: 20px;
  }
}
.text-me-link {
  padding: 10px 32px;
  border-radius: 99px;
  background: #1e1928;
  color: #f4efe9;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;

  @include max-screen(991px) {
    padding: 8px 25px;
    line-height: 18px;
  }
}
.main-pic-size {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: end;

  @include max-screen(991px) {
    width: 100%;
    padding-bottom: 0px;
    max-width: 404px;
  }

  @include max-screen(787px) {
    padding-bottom: 0;
  }
}
.main-pic-px {
  width: 80%;

  @include max-screen(787px) {
    width: 100%;
  }
}

.section2-article2-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  max-width: 495px;
}
.section2 {
  padding-top: 270px;
  background-color: #ffd394;
  position: relative;
  @include max-screen(1000px) {
    padding-top: 240px;
  }
  @include max-screen(900px) {
    padding-top: 200px;
  }
  @include max-screen(730px) {
    padding-top: 90px;
  }
}
.Relief-article-size {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  background: white;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 80px 0;
  position: absolute;
  top: -190px;
  left: calc(50% - 600px);

  @include max-screen(1199px) {
    max-width: 950px;
    padding: 60px 0;
    left: calc(52% - 495px);
  }
  @include max-screen(1100px) {
    max-width: 950px;
    padding: 60px 0;
    left: calc(52% - 495px);
  }
  @include max-screen(991px) {
    max-width: 780px;
    padding: 50px 0;
    left: calc(50% - 390px);
  }
  @include max-screen(787px) {
    max-width: 700px;
    padding: 30px 0;
    left: calc(50% - 350px);
  }
  @include max-screen(730px) {
    width: 500px;
    padding: 20px 0;
    left: calc(51% - 250px);
  }
  @include max-screen(550px) {
    width: 450px;
    padding: 20px 0;
    left: calc(37% - 150px);
  }
  @include max-screen(500px) {
    width: 370px;
    padding: 20px 0;
    left: calc(41% - 150px);
  }
}
.Relief-title {
  color: #1e1928;
  text-align: center;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
}
.Relief-text {
  color: rgba(30, 25, 40, 0.8);
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.252px;
  margin-top: 28px;
  margin-bottom: 30px;
}
.relief-text-mobile {
  display: none;

  @include max-screen(730px) {
    display: block;
    color: rgba(30, 25, 40, 0.8);
    text-align: center;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 0.252px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
.Relief-article-learn-more {
  color: #1e1928;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 33px;
  background: #fff;
  border-radius: 9999px;
  border: 1px solid #1e1928;
  text-decoration: none;
}

.section2-article2 {
  margin-top: 80px;
}
.how-article2 {
  display: flex;
  justify-content: space-between;
  background-image: url("../images/left-img.png");
  background-position: bottom -240px left 0px;
  background-repeat: no-repeat;

  @include max-screen(970px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.section2-article2-title {
  color: #1e1928;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  max-width: 550px;
  padding-left: 40px;
}
.list-size {
  max-width: 600px;
  padding-bottom: 40px;
  @include max-screen(970px) {
    width: 70%;
  }
  @include max-screen(787px) {
    padding-bottom: 10px;
  }
}
.main-list {
  padding-bottom: 38px;
  list-style: none;
  padding-right: 40px;
  @include max-screen(787px) {
    padding-bottom: 10px;
  }
}
.list1 {
  padding-bottom: 38px;

  @include max-screen(787px) {
    padding-bottom: 10px;
  }
}
.list-title1 {
  color: #1e1928;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
  padding-top: 8px;
  padding-bottom: 10px;
}
.list-text1 {
  color: rgba(30, 25, 40, 0.8);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.176px;
  margin-left: 64px;
}
.list2 {
  padding-bottom: 38px;
  @include max-screen(787px) {
    padding-bottom: 10px;
  }
}
.list-title2 {
  color: #1e1928;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
  padding-top: 8px;
  padding-bottom: 10px;
}
.list-text2 {
  color: rgba(30, 25, 40, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.176px;
  margin-left: 64px;
}
.list-title3 {
  color: #1e1928;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
  padding-top: 8px;
  padding-bottom: 10px;
}
.list-text3 {
  color: rgba(30, 25, 40, 0.8);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.176px;
  margin-left: 64px;
}
.main-list li:before {
  display: inline-flex;
  content: "1";
  border-radius: 50%;
  background: #1e1928;
  width: 40px;
  height: 40px;
  justify-content: center;
  color: #ede6dd;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.252px;
  align-items: center;
  margin-right: 24px;
  float: left;
}
.main-list li:nth-child(2)::before {
  content: "2";
}
.main-list li:last-child:before {
  content: "3";
}
.main-sections {
  background: #f4efe9;
}
.built {
  padding-top: 80px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  @include max-screen(800px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.built-text {
  width: 50%;
  padding-left: 40px;
  @include max-screen(800px) {
    width: 100%;
    padding-right: 20px;
  }
}
.built h2 {
  color: #1e1928;
  text-align: right;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  @include max-screen(800px) {
    text-align: center;
  }
}
.built p {
  color: rgba(30, 25, 40, 0.8);
  text-align: right;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.252px;
  @include max-screen(800px) {
    text-align: center;
    padding-bottom: 15px;
  }
}
.built:after {
  content: "";
  background-image: url("../images/img1.jpg");
  width: 50%;
  height: 586px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  @include max-screen(800px) {
    width: 100%;
  }
}
.standing:before {
  content: "";
  background-image: url("../images/img222.png");
  width: 50%;
  height: 586px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 65px;
  @include max-screen(800px) {
    display: none;
  }
}
.standing:after {
  @include max-screen(800px) {
    content: "";
    background-image: url("../images/img222.png");
    width: 96%;
    height: 586px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.standing {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  @include max-screen(800px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}
.standing-text {
  width: 50%;
  padding-left: 29px;
  padding-right: 40px;
  @include max-screen(800px) {
    width: 100%;
    padding-right: 20px;
  }
}
.standing-text h2 {
  color: #1e1928;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  @include max-screen(800px) {
    text-align: center;
  }
}
.standing-text p {
  color: rgba(30, 25, 40, 0.8);
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.252px;
  @include max-screen(800px) {
    text-align: center;
    padding-bottom: 20px;
  }
}
.easily {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  @include max-screen(800px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}
.easily-text {
  width: 50%;
  padding-left: 40px;
  @include max-screen(800px) {
    width: 100%;
    padding-right: 20px;
  }
}
.easily-text h2 {
  color: #1e1928;
  text-align: right;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  @include max-screen(800px) {
    text-align: center;
  }
}
.easily-text p {
  color: rgba(30, 25, 40, 0.8);
  text-align: right;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.252px;
  @include max-screen(800px) {
    text-align: center;
    padding-bottom: 15px;
  }
}
.easily:after {
  content: "";
  background-image: url("../images/img3.jpg");
  width: 50%;
  height: 586px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  @include max-screen(800px) {
    width: 100%;
  }
}
.paperwork {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 80px;
  @include max-screen(800px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}
.paperwork:before {
  content: "";
  background-image: url("../images/img4.jpg");
  width: 40%;
  height: 586px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  @include max-screen(800px) {
    display: none;
  }
}
.paperwork:after {
  @include max-screen(800px) {
    content: "";
    background-image: url("../images/img4.jpg");
    width: 100%;
    height: 586px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.paperwork-text {
  width: 40%;
  @include max-screen(800px) {
    width: 100%;
    padding-right: 20px;
    padding-left: 40px;
  }
}
.paperwork-text h2 {
  color: #1e1928;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  @include max-screen(800px) {
    text-align: center;
  }
}
.paperwork-text p {
  color: rgba(30, 25, 40, 0.8);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.252px;
  @include max-screen(800px) {
    text-align: center;
    padding-bottom: 15px;
  }
}
.listen {
  display: flex;
  align-items: center;
  padding-bottom: 80px;
  @include max-screen(800px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}
.listen-text {
  width: 50%;
  padding-left: 40px;
  @include max-screen(800px) {
    width: 100%;
    padding-right: 20px;
  }
}
.listen-text h2 {
  color: #1e1928;
  text-align: right;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  @include max-screen(800px) {
    text-align: center;
  }
}
.listen-text p {
  color: rgba(30, 25, 40, 0.8);
  text-align: right;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.252px;
  @include max-screen(800px) {
    text-align: center;
    padding-bottom: 15px;
  }
}
.listen:after {
  content: "";
  background-image: url("../images/img5.jpg");
  width: 50%;
  height: 586px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  @include max-screen(800px) {
    width: 100%;
  }
}
.owl-nav {
  display: none;
}
.item-section {
  padding-top: 144px;
  padding-bottom: 302px;
  text-align: center;
  @include max-screen(1100px) {
    padding-top: 20px;
    padding-bottom: 250px;
  }
}
.item-section h3 {
  color: #1e1928;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
  padding-bottom: 80px;
}
.item-section item-list {
  max-width: 1200px;
  font-size: 0;
}
.item-section item-list {
  font-size: 0;
}
.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  @include max-screen(1100px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
  }
}
.item {
  display: inline-block;
  vertical-align: top;
  min-height: 160px;
  border-radius: 8px;
  background: #fff;
  max-width: 144px;
  margin: 0 8px 10px;
}
.item img {
  padding: 12px 28px 0;
}
.item-padding img {
  padding: 25px 41px 0;
}
.item h3 {
  padding: 12px 0 16px;
  color: #1e1928;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}
.item-section a {
  color: #1e1928;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  border-radius: 9999px;
  border: 1px solid #1e1928;
  padding: 10px 33px;
  text-decoration: none;
}
.item_link {
  text-decoration: none;
  color: #1e1928;
  font-size: 13px;
  line-height: 20px;
}
.link-mg {
  margin-right: 44px;
}

.section-security-position {
  position: relative;
}
.security-position {
  max-width: 1200px;
  width: 100%;
  border-radius: 8px;
  background: #fff;
  text-align: center;
  position: absolute;
  top: -158px;
  left: calc(50% - 600px);
  padding-top: 80px;
  padding-bottom: 76px;
  @include max-screen(1199px) {
    max-width: 950px;
    padding: 60px 0;
    left: calc(52% - 495px);
  }
  @include max-screen(1100px) {
    max-width: 950px;
    padding: 60px 0;
    left: calc(52% - 495px);
  }
  @include max-screen(991px) {
    max-width: 780px;
    padding: 50px 0;
    left: calc(50% - 390px);
  }
  @include max-screen(787px) {
    max-width: 700px;
    padding: 30px 0;
    left: calc(50% - 350px);
  }
  @include max-screen(730px) {
    width: 500px;
    padding: 20px 0;
    left: calc(51% - 250px);
  }
  @include max-screen(495px) {
    width: 350px;
    padding: 20px 0;
    left: calc(44% - 150px);
  }
}
.security-position h3 {
  color: #1e1928;
  text-align: center;
  font-size: 32px;
  line-height: 42px;
  padding-bottom: 24px;
}
.security-position p {
  color: rgba(30, 25, 40, 0.8);
  text-align: center;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.252px;
}
