@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap";
@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css";
@import "https://resources/demos/style.css";
.header {
  padding-top: 40px;
  padding-bottom: 80px;
}
@media screen and (max-width: 1100px) {
  .header {
    padding-bottom: 40px;
  }
}
.header .d-flex {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 720px) {
  .header .d-flex {
    display: flex;
    flex-direction: row;
  }
}
.header .d-flex .logo {
  padding-left: 40px;
  display: inline-block;
}
@media screen and (max-width: 550px) {
  .header .d-flex .logo {
    padding-left: 10px;
  }
}
.header .navigation {
  display: flex;
  list-style: none;
  padding-top: 10px;
}
@media screen and (max-width: 991px) {
  .header .navigation {
    display: none;
  }
}
.header .navigation .item_link {
  text-decoration: none;
  color: #1e1928;
  font-size: 13px;
  line-height: 20px;
}
.header .navigation .item_link .link-mg {
  margin-right: 44px;
}
.header nav ul li {
  margin-left: 40px;
}

#menuToggle {
  display: block;
  position: relative;
  top: 12px;
  left: -65px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
@media screen and (max-width: 720px) {
  #menuToggle {
    top: 4px;
    left: -70px;
  }
}
@media screen and (max-width: 540px) {
  #menuToggle {
    top: 4px;
    left: -35px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.body {
  background-color: #f4efe9;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

#menuToggle input {
  display: none;
}
@media screen and (max-width: 991px) {
  #menuToggle input {
    display: block;
  }
}

.main-section {
  padding-bottom: 196px;
}
@media screen and (max-width: 730px) {
  .main-section {
    padding-bottom: 196px;
  }
}
@media screen and (max-width: 550px) {
  .main-section {
    padding-bottom: 160px;
  }
}

.main-flex {
  display: flex;
}
@media screen and (max-width: 787px) {
  .main-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 550px) {
  .main-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
}

.main-section-artic {
  width: 50%;
  padding-left: 40px;
}
@media screen and (max-width: 787px) {
  .main-section-artic {
    width: 80%;
  }
}
@media screen and (max-width: 550px) {
  .main-section-artic {
    padding-left: 10px;
  }
}

.main-section-title {
  color: #1e1928;
  margin-bottom: 21px;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  padding-top: 40px;
}
@media screen and (max-width: 991px) {
  .main-section-title {
    font-size: 30px;
    line-height: 35px;
  }
}
@media screen and (max-width: 787px) {
  .main-section-title {
    padding-top: 0px;
  }
}

.main-section-text-1 {
  color: rgba(30, 25, 40, 0.8);
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.252px;
}

.main-section-text-2 {
  color: rgba(30, 25, 40, 0.8);
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.252px;
}

.main-section-prenumber {
  color: #1e1928;
  margin-bottom: 24px;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.252px;
}

.main-form-number {
  border-radius: 99px;
  background: #fff;
  padding: 8px 12px;
  display: flex;
  max-width: 448px;
  justify-content: space-between;
  margin-bottom: 96px;
}
@media screen and (max-width: 991px) {
  .main-form-number {
    padding: 6px 10px;
    max-width: 380px;
  }
}
@media screen and (max-width: 991px) {
  .main-form-number {
    margin-bottom: 20px;
  }
}

.form-number {
  width: 180px;
  border: none;
  background-color: transparent;
  padding: 10px 19px;
  color: rgb(30, 25, 40);
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  outline: none;
}
@media screen and (max-width: 991px) {
  .form-number {
    padding: 8px 16px;
    line-height: 20px;
  }
}

.text-me-link {
  padding: 10px 32px;
  border-radius: 99px;
  background: #1e1928;
  color: #f4efe9;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}
@media screen and (max-width: 991px) {
  .text-me-link {
    padding: 8px 25px;
    line-height: 18px;
  }
}

.main-pic-size {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
}
@media screen and (max-width: 991px) {
  .main-pic-size {
    width: 100%;
    padding-bottom: 0px;
    max-width: 404px;
  }
}
@media screen and (max-width: 787px) {
  .main-pic-size {
    padding-bottom: 0;
  }
}

.main-pic-px {
  width: 80%;
}
@media screen and (max-width: 787px) {
  .main-pic-px {
    width: 100%;
  }
}

.section2-article2-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  max-width: 495px;
}
@media screen and (max-width: 920px) {
  .section2-article2-title {
    padding-bottom: 20px;
  }
}

.section2 {
  padding-top: 270px;
  background-color: #ffd394;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .section2 {
    padding-top: 240px;
  }
}
@media screen and (max-width: 900px) {
  .section2 {
    padding-top: 200px;
  }
}
@media screen and (max-width: 730px) {
  .section2 {
    padding-top: 90px;
  }
}

.Relief-article-size {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  background: white;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 80px 0;
  position: absolute;
  top: -190px;
  left: calc(50% - 600px);
}
@media screen and (max-width: 1199px) {
  .Relief-article-size {
    max-width: 950px;
    padding: 60px 0;
    left: calc(52% - 495px);
  }
}
@media screen and (max-width: 1100px) {
  .Relief-article-size {
    max-width: 950px;
    padding: 60px 0;
    left: calc(52% - 495px);
  }
}
@media screen and (max-width: 991px) {
  .Relief-article-size {
    max-width: 780px;
    padding: 65px 0;
    left: calc(50% - 390px);
  }
}
@media screen and (max-width: 787px) {
  .Relief-article-size {
    max-width: 700px;
    padding: 70px 0;
    left: calc(50% - 350px);
  }
}
@media screen and (max-width: 730px) {
  .Relief-article-size {
    width: 500px;
    padding: 20px 0;
    left: calc(51% - 250px);
  }
}
@media screen and (max-width: 550px) {
  .Relief-article-size {
    width: 450px;
    padding: 20px 0;
    left: calc(37% - 150px);
  }
}
@media screen and (max-width: 500px) {
  .Relief-article-size {
    width: 370px;
    padding: 20px 0;
    left: calc(41% - 150px);
  }
}

.Relief-title {
  color: #1e1928;
  text-align: center;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
}

.Relief-text {
  color: rgba(30, 25, 40, 0.8);
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.252px;
  margin-top: 28px;
  margin-bottom: 30px;
}
@media screen and (max-width: 730px) {
  .Relief-text {
    display: none;
  }
}

.relief-text-mobile {
  display: none;
}
@media screen and (max-width: 730px) {
  .relief-text-mobile {
    display: block;
    color: rgba(30, 25, 40, 0.8);
    text-align: center;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 0.252px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.Relief-article-learn-more {
  color: #1e1928;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 33px;
  background: #fff;
  border-radius: 9999px;
  border: 1px solid #1e1928;
  text-decoration: none;
}

.section2-article2 {
  margin-top: 80px;
}

.how-article2 {
  display: flex;
  justify-content: space-between;
  background-image: url("../images/left-img.png");
  background-position: bottom -240px left 0px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 970px) {
  .how-article2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.section2-article2-title {
  color: #1e1928;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  max-width: 550px;
  padding-left: 40px;
}

.list-size {
  max-width: 600px;
  padding-bottom: 40px;
}
@media screen and (max-width: 970px) {
  .list-size {
    width: 88%;
  }
}
@media screen and (max-width: 787px) {
  .list-size {
    padding-bottom: 10px;
  }
}

.main-list {
  padding-bottom: 38px;
  list-style: none;
  padding-right: 40px;
}
@media screen and (max-width: 787px) {
  .main-list {
    padding-bottom: 10px;
  }
}

.list1 {
  padding-bottom: 38px;
}
@media screen and (max-width: 787px) {
  .list1 {
    padding-bottom: 10px;
  }
}

.list-title1 {
  color: #1e1928;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.list-text1 {
  color: rgba(30, 25, 40, 0.8);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.176px;
  margin-left: 64px;
}

.list2 {
  padding-bottom: 38px;
}
@media screen and (max-width: 787px) {
  .list2 {
    padding-bottom: 10px;
  }
}

.list-title2 {
  color: #1e1928;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.list-text2 {
  color: rgba(30, 25, 40, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.176px;
  margin-left: 64px;
}

.list-title3 {
  color: #1e1928;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.list-text3 {
  color: rgba(30, 25, 40, 0.8);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.176px;
  margin-left: 64px;
}

.main-list li:before {
  display: inline-flex;
  content: "1";
  border-radius: 50%;
  background: #1e1928;
  width: 40px;
  height: 40px;
  justify-content: center;
  color: #ede6dd;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.252px;
  align-items: center;
  margin-right: 24px;
  float: left;
}

.main-list li:nth-child(2)::before {
  content: "2";
}

.main-list li:last-child:before {
  content: "3";
}

.main-sections {
  background: #f4efe9;
}

.built {
  padding-top: 80px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .built {
    display: flex;
    flex-wrap: wrap;
  }
}

.built-text {
  width: 50%;
  padding-left: 40px;
}
@media screen and (max-width: 800px) {
  .built-text {
    width: 100%;
    padding-right: 20px;
  }
}

.built h2 {
  color: #1e1928;
  text-align: right;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}
@media screen and (max-width: 800px) {
  .built h2 {
    text-align: center;
  }
}

.built p {
  color: rgba(30, 25, 40, 0.8);
  text-align: right;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.252px;
}
@media screen and (max-width: 800px) {
  .built p {
    text-align: center;
    padding-bottom: 15px;
  }
}

.built:after {
  content: "";
  background-image: url("../images/img1.jpg");
  width: 50%;
  height: 586px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 800px) {
  .built:after {
    width: 100%;
  }
}

.standing:before {
  content: "";
  background-image: url("../images/img222.png");
  width: 50%;
  height: 586px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 65px;
}
@media screen and (max-width: 800px) {
  .standing:before {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .standing:after {
    content: "";
    background-image: url("../images/img222.png");
    width: 96%;
    height: 586px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (max-width: 540px) {
  .standing:after {
    background-position: left;
    width: 97%;
  }
}

.standing {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 800px) {
  .standing {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}

.standing-text {
  width: 50%;
  padding-left: 29px;
  padding-right: 40px;
}
@media screen and (max-width: 800px) {
  .standing-text {
    width: 100%;
    padding-right: 20px;
  }
}

.standing-text h2 {
  color: #1e1928;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}
@media screen and (max-width: 800px) {
  .standing-text h2 {
    text-align: center;
  }
}

.standing-text p {
  color: rgba(30, 25, 40, 0.8);
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.252px;
}
@media screen and (max-width: 800px) {
  .standing-text p {
    text-align: center;
    padding-bottom: 20px;
  }
}

.easily {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 800px) {
  .easily {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}

.easily-text {
  width: 50%;
  padding-left: 40px;
}
@media screen and (max-width: 800px) {
  .easily-text {
    width: 100%;
    padding-right: 20px;
  }
}

.easily-text h2 {
  color: #1e1928;
  text-align: right;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}
@media screen and (max-width: 800px) {
  .easily-text h2 {
    text-align: center;
  }
}

.easily-text p {
  color: rgba(30, 25, 40, 0.8);
  text-align: right;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.252px;
}
@media screen and (max-width: 800px) {
  .easily-text p {
    text-align: center;
    padding-bottom: 15px;
  }
}

.easily:after {
  content: "";
  background-image: url("../images/img3.jpg");
  width: 50%;
  height: 586px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 800px) {
  .easily:after {
    width: 100%;
  }
}

.paperwork {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 80px;
}
@media screen and (max-width: 800px) {
  .paperwork {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}

.paperwork:before {
  content: "";
  background-image: url("../images/img4.jpg");
  width: 40%;
  height: 586px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 800px) {
  .paperwork:before {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .paperwork:after {
    content: "";
    background-image: url("../images/img4.jpg");
    width: 100%;
    height: 586px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.paperwork-text {
  width: 40%;
}
@media screen and (max-width: 800px) {
  .paperwork-text {
    width: 100%;
    padding-right: 20px;
    padding-left: 40px;
  }
}

.paperwork-text h2 {
  color: #1e1928;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}
@media screen and (max-width: 800px) {
  .paperwork-text h2 {
    text-align: center;
  }
}

.paperwork-text p {
  color: rgba(30, 25, 40, 0.8);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.252px;
}
@media screen and (max-width: 800px) {
  .paperwork-text p {
    text-align: center;
    padding-bottom: 15px;
  }
}

.listen {
  display: flex;
  align-items: center;
  padding-bottom: 80px;
}
@media screen and (max-width: 800px) {
  .listen {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

.listen-text {
  width: 50%;
  padding-left: 40px;
}
@media screen and (max-width: 800px) {
  .listen-text {
    width: 100%;
    padding-right: 20px;
  }
}

.listen-text h2 {
  color: #1e1928;
  text-align: right;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}
@media screen and (max-width: 800px) {
  .listen-text h2 {
    text-align: center;
  }
}

.listen-text p {
  color: rgba(30, 25, 40, 0.8);
  text-align: right;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.252px;
}
@media screen and (max-width: 800px) {
  .listen-text p {
    text-align: center;
    padding-bottom: 15px;
  }
}

.listen:after {
  content: "";
  background-image: url("../images/img5.jpg");
  width: 50%;
  height: 586px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 800px) {
  .listen:after {
    width: 100%;
  }
}

.owl-nav {
  display: none;
}

.item-section {
  padding-top: 144px;
  padding-bottom: 302px;
  text-align: center;
}
@media screen and (max-width: 1100px) {
  .item-section {
    padding-top: 20px;
    padding-bottom: 250px;
  }
}

.item-section h3 {
  color: #1e1928;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
  padding-bottom: 80px;
}

.item-section item-list {
  max-width: 1200px;
  font-size: 0;
}

.item-section item-list {
  font-size: 0;
}

.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}
@media screen and (max-width: 1100px) {
  .item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
  }
}

.item {
  display: inline-block;
  vertical-align: top;
  min-height: 160px;
  border-radius: 8px;
  background: #fff;
  max-width: 144px;
  margin: 0 8px 10px;
}

.item img {
  padding: 12px 28px 0;
}

.item-padding img {
  padding: 25px 41px 0;
}

.item h3 {
  padding: 12px 0 16px;
  color: #1e1928;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

.item-section a {
  color: #1e1928;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  border-radius: 9999px;
  border: 1px solid #1e1928;
  padding: 10px 33px;
  text-decoration: none;
}

.item_link {
  text-decoration: none;
  color: #1e1928;
  font-size: 13px;
  line-height: 20px;
}

.link-mg {
  margin-right: 44px;
}

.section-security-position {
  position: relative;
}

.security-position {
  max-width: 1200px;
  width: 100%;
  border-radius: 8px;
  background: #fff;
  text-align: center;
  position: absolute;
  top: -158px;
  left: calc(50% - 600px);
  padding-top: 80px;
  padding-bottom: 76px;
}
@media screen and (max-width: 1199px) {
  .security-position {
    max-width: 950px;
    padding: 60px 0;
    left: calc(52% - 495px);
  }
}
@media screen and (max-width: 1100px) {
  .security-position {
    max-width: 950px;
    padding: 60px 0;
    left: calc(52% - 495px);
  }
}
@media screen and (max-width: 991px) {
  .security-position {
    max-width: 780px;
    padding: 65px 0;
    left: calc(50% - 390px);
  }
}
@media screen and (max-width: 787px) {
  .security-position {
    padding: 40px 0;
    margin: 34px 0;
    max-width: 700px;
    left: calc(50% - 350px);
  }
}
@media screen and (max-width: 730px) {
  .security-position {
    padding: 30px 0;
    width: 500px;
    left: calc(51% - 250px);
  }
}
@media screen and (max-width: 495px) {
  .security-position {
    width: 350px;
    padding: 20px 0;
    left: calc(44% - 150px);
  }
}

.security-position h3 {
  color: #1e1928;
  text-align: center;
  font-size: 32px;
  line-height: 42px;
  padding-bottom: 24px;
}
@media screen and (max-width: 730px) {
  .security-position h3 {
    font-size: 24px;
    padding-bottom: 0;
  }
}

.security-text {
  color: rgba(30, 25, 40, 0.8);
  text-align: center;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.252px;
}
@media screen and (max-width: 730px) {
  .security-text {
    display: none;
  }
}

.security-text-mobile {
  display: none;
}
@media screen and (max-width: 730px) {
  .security-text-mobile {
    display: block;
    color: rgba(30, 25, 40, 0.8);
    text-align: center;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 0.252px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 10px;
  }
}

.review {
  background: #592141;
  text-align: center;
}

.review-header {
  color: #f4efe9;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.252px;
  padding-top: 302px;
  padding-bottom: 36px;
}
@media screen and (max-width: 991px) {
  .review-header {
    padding-top: 240px;
  }
}
@media screen and (max-width: 787px) {
  .review-header {
    padding-top: 180px;
  }
}
@media screen and (max-width: 680px) {
  .review-header {
    padding-top: 140px;
  }
}

.review-icon {
  color: #f4efe9;
  text-align: center;
  font-size: 96px;
  line-height: 96px;
}
@media screen and (max-width: 680px) {
  .review-icon {
    font-size: 90px;
    line-height: 50px;
  }
}
@media screen and (max-width: 500px) {
  .review-icon {
    line-height: 35px;
  }
}

.review-text {
  color: #f4efe9;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 32px;
}
@media screen and (max-width: 991px) {
  .review-text {
    font-size: 23px;
    line-height: 33px;
  }
}
@media screen and (max-width: 787px) {
  .review-text {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (max-width: 680px) {
  .review-text {
    font-size: 17px;
    line-height: 25px;
  }
}
@media screen and (max-width: 500px) {
  .review-text {
    display: none;
  }
}

.review-text-mobile {
  display: none;
}
@media screen and (max-width: 500px) {
  .review-text-mobile {
    display: block;
    color: #f4efe9;
    text-align: center;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.252px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 10px;
  }
}

.review-name {
  color: #f4efe9;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 184px;
}
@media screen and (max-width: 991px) {
  .review-name {
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 787px) {
  .review-name {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 680px) {
  .review-name {
    padding-bottom: 60px;
  }
}

.as-on {
  background: #ede6dd;
}

.as-on h3 {
  color: #1e1928;
  text-align: center;
  font-size: 31px;
  line-height: 42px;
  padding-top: 144px;
  padding-bottom: 68px;
}
@media screen and (max-width: 720px) {
  .as-on h3 {
    padding-top: 70px;
  }
}

.as-item-list {
  padding-bottom: 242px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1280px) {
  .as-item-list {
    padding-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1280px) and (max-width: 540px) {
  .as-item-list {
    padding-bottom: 150px;
  }
}

.as-item {
  width: 25%;
  border-radius: 8px;
  background: rgba(30, 25, 40, 0.08);
  padding: 24px 0;
  text-align: center;
  margin: 0 8px 10px;
}
@media screen and (max-width: 1280px) {
  .as-item {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .as-item {
    width: 80%;
  }
}

.start-trial {
  background: #1e1928;
  position: relative;
}

.trial-position {
  border-radius: 8px;
  background: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 1200px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: -120px;
  left: calc(50% - 600px);
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .trial-position {
    max-width: 950px;
    padding: 60px 0;
    left: calc(52% - 495px);
  }
}
@media screen and (max-width: 1100px) {
  .trial-position {
    max-width: 950px;
    padding: 60px 0;
    left: calc(52% - 495px);
  }
}
@media screen and (max-width: 991px) {
  .trial-position {
    max-width: 780px;
    padding: 50px 0;
    left: calc(50% - 390px);
  }
}
@media screen and (max-width: 787px) {
  .trial-position {
    padding: 45px 0;
    margin: 30px 0;
    max-width: 700px;
    padding: 30px 0;
    left: calc(50% - 350px);
  }
}
@media screen and (max-width: 730px) {
  .trial-position {
    padding: 30px 0;
    margin: 40px 0;
    width: 500px;
    padding: 20px 0;
    left: calc(51% - 250px);
  }
}
@media screen and (max-width: 540px) {
  .trial-position {
    width: 350px;
    padding: 20px 0;
    margin: 48px 0;
    left: calc(44% - 150px);
  }
}
@media screen and (max-width: 495px) {
  .trial-position {
    width: 350px;
    padding: 20px 0;
    margin: 48px 0;
    left: calc(44% - 150px);
  }
}

.free-trial {
  width: 50%;
  border-right: 1px solid #1e1928;
}

.free-trial h3 {
  color: #1e1928;
  text-align: center;
  font-size: 32px;
  line-height: 42px;
}
@media screen and (max-width: 787px) {
  .free-trial h3 {
    font-size: 27px;
  }
}
@media screen and (max-width: 540px) {
  .free-trial h3 {
    font-size: 22px;
    line-height: 31px;
  }
}

.free-trial p {
  color: rgba(30, 25, 40, 0.64);
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.084px;
}
@media screen and (max-width: 540px) {
  .free-trial p {
    font-size: 9px;
    line-height: 15px;
  }
}

.all-included {
  width: 50%;
}

.all-included h3 {
  color: #1e1928;
  text-align: center;
  font-size: 32px;
  line-height: 42px;
}
@media screen and (max-width: 787px) {
  .all-included h3 {
    font-size: 27px;
    line-height: 31px;
  }
}
@media screen and (max-width: 540px) {
  .all-included h3 {
    font-size: 22px;
  }
}

.all-included p {
  color: rgba(30, 25, 40, 0.64);
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.084px;
}
@media screen and (max-width: 540px) {
  .all-included p {
    font-size: 9px;
    line-height: 15px;
  }
}

.start-trial-black h3 {
  color: #fff;
  text-align: center;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.252px;
  padding-top: 166px;
  padding-bottom: 33px;
}
@media screen and (max-width: 540px) {
  .start-trial-black h3 {
    padding-top: 130px;
  }
}

.main-form-tel {
  border-radius: 9999px;
  background: #fff;
  max-width: 434px;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
}
@media screen and (max-width: 540px) {
  .main-form-tel {
    max-width: 400px;
  }
}
@media screen and (max-width: 540px) {
  .main-form-tel {
    max-width: 380px;
    padding: 4px 7px;
  }
}

.form-tel {
  width: 180px;
  border: none;
  background-color: transparent;
  padding: 10px 19px;
  color: rgb(30, 25, 40);
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  outline: none;
}

.text-link {
  color: #f4efe9;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  border-radius: 9999px;
  background: #1e1928;
  padding: 10px 32px;
  text-decoration: none;
}

.start-trial-black p {
  color: #ede6dd;
  text-align: center;
  line-height: 20px;
  padding-top: 23px;
  padding-bottom: 138px;
}
@media screen and (max-width: 540px) {
  .start-trial-black p {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.faq {
  padding: 100px;
  background-color: #f4efe9;
}

.faq h4 {
  color: black;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.faq .ui-accordion .ui-accordion-header {
  position: relative;
  border: solid 1px black;
  border-radius: 20px;
  color: black;
  padding: 15px;
}

.faq .ui-accordion .ui-accordion-header-active {
  background-color: #ffd394;
  border-top: solid 3px black;
  border-left: solid 3px black;
  border-right: solid 3px black;
  border-bottom: none;
  border-radius: 20px 20px 0 0;
  background-image: url("../images/arrow-down-.png");
  background-repeat: no-repeat;
  background-position: 97%;
  background-size: 30px;
}

.ui-accordion .ui-accordion-content {
  border-top: none;
  border-left: solid 3px black;
  border-right: solid 3px black;
  border-bottom: solid 3px black;
  background-color: #ffd394;
  border-radius: 0 0 20px 20px;
}

.faq .ui-accordion-header-collapsed {
  background-image: url("../images/arrow-up-.png");
  background-repeat: no-repeat;
  background-position: 97%;
  background-size: 30px;
}

.faq .ui-accordion .ui-accordion-header span {
  display: none;
}

.faq .ui-accordion .ui-accordion-header .ui-icon {
  display: none;
}

.footer {
  background: #fff;
}

.footer-info {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
}

.footer-info-company {
  display: flex;
  flex-direction: column;
}

.footer-info-company h3 {
  color: #1e1928;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
  padding-bottom: 16px;
}

.footer-info-company a {
  color: rgba(30, 25, 40, 0.8);
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  padding-bottom: 16px;
}

.footer-info-resources {
  display: flex;
  flex-direction: column;
}

.footer-info-resources h3 {
  color: #1e1928;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
  padding-bottom: 16px;
}

.footer-info-resources a {
  color: rgba(30, 25, 40, 0.8);
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  padding-bottom: 16px;
}/*# sourceMappingURL=style_preproc.css.map */