.review {
  background: #592141;
  text-align: center;
}
.review-header {
  color: #f4efe9;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.252px;
  padding-top: 302px;
  padding-bottom: 36px;
}
.review-icon {
  color: #f4efe9;
  text-align: center;
  font-size: 96px;
  line-height: 96px;
}
.review-text {
  color: #f4efe9;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 32px;
}
.review-name {
  color: #f4efe9;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 184px;
}
.as-on {
  background: #ede6dd;
}
.as-on h3 {
  color: #1e1928;
  text-align: center;
  font-size: 31px;
  line-height: 42px;
  padding-top: 144px;
  padding-bottom: 68px;
}
.as-item-list {
  font-size: 0;
  padding-bottom: 242px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.as-item {
  width: 25%;
  border-radius: 8px;
  background: rgba(30, 25, 40, 0.08);
  padding: 24px 29px;
  margin: 0 8px 10px;
}
.mr-l {
  margin-left: 0;
}
.mr-r {
  margin-right: 0;
}
.start-trial {
  background: #1e1928;
  position: relative;
}
.trial-position {
  border-radius: 8px;
  background: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 1200px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: -120px;
  left: calc(50% - 600px);
  display: flex;
  justify-content: center;
  align-items: center;
  @include max-screen(1199px) {
    max-width: 950px;
    padding: 60px 0;
    left: calc(52% - 495px);
  }
  @include max-screen(1100px) {
    max-width: 950px;
    padding: 60px 0;
    left: calc(52% - 495px);
  }
  @include max-screen(991px) {
    max-width: 780px;
    padding: 50px 0;
    left: calc(50% - 390px);
  }
  @include max-screen(787px) {
    max-width: 700px;
    padding: 30px 0;
    left: calc(50% - 350px);
  }
  @include max-screen(730px) {
    width: 500px;
    padding: 20px 0;
    left: calc(51% - 250px);
  }
  @include max-screen(495px) {
    width: 350px;
    padding: 20px 0;
    left: calc(44% - 150px);
  }
}
.free-trial {
  max-width: 600px;
  margin: 0 auto;
  padding-right: 167px;
  border-right: 1px solid #1e1928;
}
.free-trial h3 {
  color: #1e1928;
  text-align: center;
  font-size: 32px;
  line-height: 42px;
}
.free-trial p {
  color: rgba(30, 25, 40, 0.64);
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.084px;
}
.all-included {
  margin: 0 auto;
  max-width: 600px;
}
.all-included h3 {
  color: #1e1928;
  text-align: center;
  font-size: 32px;
  line-height: 42px;
}
.all-included p {
  color: rgba(30, 25, 40, 0.64);
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.084px;
}
.start-trial-black h3 {
  color: #fff;
  text-align: center;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.252px;
  padding-top: 166px;
  padding-bottom: 33px;
}
.main-form-tel {
  border-radius: 9999px;
  background: #fff;
  max-width: 434px;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
}
.form-tel {
  width: 180px;
  border: none;
  background-color: transparent;
  padding: 10px 19px;
  color: rgba(30, 25, 40, 1);
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  outline: none;
}
.text-link {
  color: #f4efe9;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  border-radius: 9999px;
  background: #1e1928;
  padding: 10px 32px;
  text-decoration: none;
}
.start-trial-black p {
  color: #ede6dd;
  text-align: center;
  line-height: 20px;
  padding-top: 23px;
  padding-bottom: 138px;
}
.faq {
  padding: 100px;
  background-color: #f4efe9;
}
.faq h4 {
  color: black;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.faq .ui-accordion .ui-accordion-header {
  position: relative;
  border: solid 1px black;
  border-radius: 20px;
  color: black;
  padding: 15px;
}
.faq .ui-accordion .ui-accordion-header-active {
  background-color: #ffd394;
  border-top: solid 3px black;
  border-left: solid 3px black;
  border-right: solid 3px black;
  border-bottom: none;
  border-radius: 20px 20px 0 0;
  background-image: url("../images/arrow-down-.png");
  background-repeat: no-repeat;
  background-position: 97%;
  background-size: 30px;
}
.ui-accordion .ui-accordion-content {
  border-top: none;
  border-left: solid 3px black;
  border-right: solid 3px black;
  border-bottom: solid 3px black;
  background-color: #ffd394;
  border-radius: 0 0 20px 20px;
}
.faq .ui-accordion-header-collapsed {
  background-image: url("../images/arrow-up-.png");
  background-repeat: no-repeat;
  background-position: 97%;
  background-size: 30px;
}
.faq .ui-accordion .ui-accordion-header span {
  display: none;
}
.faq .ui-accordion .ui-accordion-header .ui-icon {
  display: none;
}

.footer {
  background: #fff;
}
.footer-info {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
}
.footer-info-company {
  display: flex;
  flex-direction: column;
}
.footer-info-company h3 {
  color: #1e1928;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
  padding-bottom: 16px;
}
.footer-info-company a {
  color: rgba(30, 25, 40, 0.8);
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  padding-bottom: 16px;
}
.footer-info-resources {
  display: flex;
  flex-direction: column;
}
.footer-info-resources h3 {
  color: #1e1928;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.252px;
  padding-bottom: 16px;
}
.footer-info-resources a {
  color: rgba(30, 25, 40, 0.8);
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  padding-bottom: 16px;
}
